# pysqlite3
# socketio
aiogram
annotated-types
apscheduler
asyncio
beautifulsoup4
cachetools
colorama
customtkinter
django
faker
flask
htmlx
httpx
loguru
magic-filter
matplotlib
multidict
mypy
numpy
packaging
pandas
pickledb
pillow
prettytable
progress
psutil
pyautogui
pygame
pyinstaller
pymongo
pynput
pyqt5
pyside6
pytelegrambotapi
requests
rich
ruff
scipy
scrapy
selenium
setuptools
tabulate
telegraph
tqdm
types-beautifulsoup4
types-requests
types-ujson
typing-extensions
ujson
urllib3
websock
xmltodict